#!/usr/bin/make -f
export GOCACHE = /tmp/gocache
export GOPATH = /usr/share/gocode
export GO111MODULE=off
export DEB_BUILD_MAINT_OPTIONS = hardening=+all
export CFLAGS = -W -Wall -fPIC -fstack-protector-all -z relro -z noexecstack -z now -pie

%:
	dh $@

override_dh_shlibdeps:
	dh_shlibdeps --dpkg-shlibdeps-params=--ignore-missing-info

override_dh_auto_test:
